* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
html {
    font-size: 62.5%;
    width: 100%;
    height: 100%;
}
body{
    background: linear-gradient(#5f00b8, #06fcfc);
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.header {
    width: 100%;
    height: 8rem;
    padding: 2rem;
    display: flex;
    justify-content: flex-end;
}

.title{
    text-align: center;
    font-size: 4.5rem;
    color: white;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 14rem;
}
.Home{
    position: relative;
}
.Container_principal_menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4rem 4rem 3rem 4rem;
}
.principal_menu{
    height: 54rem;
    width: 60rem;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border-radius: 2rem;
    box-shadow: 3px 3px 3px white, -3px -3px 3px white, 
    3px -3px 3px white, -3px 3px 3px white;
    justify-content: center;
}
.tipo_interes{
    font-size: 3rem;
    color: white;
}
.radio_button ~ span{
    font-size: 2rem;
    color: white;
}
.container_buttons{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.formulario_calculo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.values_container{
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0rem;
}
.instructions_input{
    color: white;
    font-size: 1.5rem;
    padding: 0rem 0.5rem;
    margin: 0.3rem;
}

.values{
    display: flex;
    flex-direction: column;
}

.footer {
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    background: transparent;
    display: flex;
}
.container_footer {
    margin: auto;
    
}
.desarrollador{
    text-align: center;
    display: flex;
    flex-direction: column;

}
.desarrollador .title_developer {
    font-size: 3rem;
    color: white;
}
.desarrollador .name_developer {
    font-size: 2.5rem;
    color: white;
}
.result{
    color: white;
    font-size: 2rem;
    padding: 1.2rem 0rem;
}

.Home:hover .overlay_home {
    opacity: 1;
  }

.overlay_home {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: transparent;
  }

.home_image {
    margin-bottom: 2rem;
}

.home_option {
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 3px 3px 3px white, -3px -3px 3px white, 
    3px -3px 3px white, -3px 3px 3px white;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 90%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }